# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
linuxEnv
.venv

node_modules

# Django stuff
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# Migrations (optional - you might want to commit these)
**/migrations/*.py
!**/migrations/__init__.py

# VS Code
.vscode/

# JetBrains (PyCharm, WebStorm)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
